<h1 class="underline">Editing Gallery</h1>
<%= render 'form' %>
<%= link_to 'Show', @gallery, class: "btn btn-link ng-scope" %> |
<!-- <#%= link_to 'Back', gallery_path, class: "btn btn-link ng-scope" %> -->
