<%if user_signed_in? %>
  <div class="container">
    <h1>Activity Summary</h1>

    <ul>
      <% @versions && @versions.each do |version| %>
        <li>
          <%= version.item_type %>
          <%= version.event %> at <%= version.created_at %><br/>
        </li>
      <% end %>
    </ul>
  </div>
<%end%>
