<div class="container">
  <% if @questionnaire.nil? %>
    <p>
      This survey is no longer available
    </p>
  <% elsif @questionnaire.avaliable_for_participant?(@participant) %>
    <%= render 'form' %>
  <% else %>
    <p>
      You have spent all the possible attempts to answer this Survey
    </p>
    <p>
      <%= link_to delete_user_exam_attempts_path(@questionnaire.id), method: :delete do %>
        Click here to reset the attempts
      <% end %>
    </p>
  <% end -%>
</div>
